@{
    ViewData["Title"] = "Passenger Request";
}


<h2>Passenger Request Page</h2>
<div class="row">
    <div class="col-md-8 offset-2">
        <div id="connectionState">
        </div>
        <div class="mb-3">
        </div>
        <hr />
        <hr />
        <div class="clearfix"></div>
        <div class="col-md-8">
        </div>
    </div>
</div>

<div>
    <h4>Bir kabin seçin ve sürücüye istek gönderin</h4>

    <button id="cabin-1" class="requestButton btn btn-primary" data-kabin="1">Kabin1 - Press</button>
    <button id="cabin-2" class="requestButton btn btn-primary" data-kabin="2">Kabin2 - Press</button>
    <button id="cabin-3" class="requestButton btn btn-primary" data-kabin="3">Kabin3 - Press</button>
    <button id="cabin-4" class="requestButton btn btn-primary" data-kabin="4">Kabin4 - Press</button>
</div>

<script>
    const speakButtons = document.querySelectorAll(".requestButton");
    let activeKabin = null;

speakButtons.forEach(button => {
    button.addEventListener("mousedown", function () {
        startSpeaking();
    });

    button.addEventListener("mouseup", function () {
        stopSpeaking();
    });
});

function startSpeaking() {
    $.ajax({
        url: '@Url.Action("StartSpeakingWithDriver", "Passenger")',
        type: 'POST',
        success: function (response) {
            console.log(`Sürücü ile konuşma başlatıldı.`);
        },
        error: function (error) {
            console.log("Hata:", error);
        }
    });
}

function stopSpeaking() {
    $.ajax({
        url: '@Url.Action("StopSpeakingWithDriver", "Passenger")',
        type: 'POST',
        success: function (response) {
            console.log(`Sürücü ile konuşma durduruldu.`);
        },
        error: function (error) {
            console.log("Hata:", error);
        }
    });
}
</script>


<script>
    const connection = new signalR.HubConnectionBuilder().withUrl("/driverHub").build();

    function ShowConnectionState() {
        $('#connectionState').html(`<div class="alert alert-success">Bağlantı Başarılı</div>`);
        console.log(connection.connectionState);
    }

    connection.start().then(() => {
        ShowConnectionState();
    }).catch((err) => {
        ShowConnectionState();
        console.log('Hata : ');
    });

    $('.requestButton').mousedown(function () {
        var kabinNumarasi = $(this).data('kabin');
        // Tıklama sırasında kabin numarasını gönder
        connection.invoke("SendCabinRequestAsync", kabinNumarasi);
    }).mouseup(function () {
        var kabinNumarasi = $(this).data('kabin');
        // Serbest bırakıldığında kabin numarasını gönder
        connection.invoke("SendReleaseCabinRequestAsync", kabinNumarasi);
    });

    connection.on("ReceiveDriverRequest", function (cabinId) {
        // Gelen kabin isteğiyle ilgili butonun rengini değiştir
        startListeningDriver();
    });

    function startListeningDriver() {
        $.ajax({
            url: '@Url.Action("StartListeningDriver", "Passenger")',
            type: 'POST',
            data: {},
            success: function (response) {
                console.log(`Sürücü dinlemeye başlandı`);
            },
            error: function (error) {
                console.log("Hata:", error);
            }
        });
    }
     
</script>
